# Node.js dependencies
node_modules/
package-lock.json

# Python dependencies and cache
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/  
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Serverless Framework
.serverless/
requirements.txt.bak

# Local env files
.env
.env.local
.env.*.local

# Log files
*.log
npm-debug.log*

# Editor directories and files
.idea/
.vscode/
*.swp
*.swo 